In [1]:
import graph
import grid

# create grid and graph                                                                                                                
landscape = grid.Grid(csv_filename="S_001_Daten.csv")
g = graph.Graph(grid=landscape, start_pos=(12,4), end_pos=(3, 6))

# start algorithm and show results
g.a_start_algorithm()
g.show_best_path_solution_of_a_star()

Path Found with total cost of 48.0!
[(12, 4), (12, 5), (12, 6), (12, 7), (12, 8), (12, 9), (12, 10), (11, 10), (10, 10), (9, 10), (8, 10), (7, 10), (6, 10), (6, 9), (6, 8), (6, 7), (6, 6), (6, 5), (5, 5), (4, 5), (4, 6), (3, 6)]

# Best solution path tests

### Test result 1
The result of the test with start_pos = (4, 15) and end_pos=(9, 10) looks very plausible. It takes the "2" coded path since the cost of a cell coded with 2 is only 1.

In [5]:
import graph
import grid

# create grid and graph                                                                                                                
landscape = grid.Grid(csv_filename="S_001_Daten.csv")
g = graph.Graph(grid=landscape, start_pos=(4,15), end_pos=(9, 10))

# start algorithm and show results
g.a_start_algorithm()
g.show_best_path_solution_of_a_star()

# wrong case

Path Found with total cost of 10.0!
[(4, 15), (5, 15), (6, 15), (6, 14), (6, 13), (6, 12), (6, 11), (6, 10), (7, 10), (8, 10), (9, 10)]

### Test Result 2
The result of the test with start_pos = (1, 1) and end_pos=(1, 1) is accurate. The total cost stays 0 because no movement is happening. The path solution only contains the (1, 1) position.

In [6]:
import graph
import grid

# create grid and graph                                                                                                                
landscape = grid.Grid(csv_filename="S_001_Daten.csv")
g = graph.Graph(grid=landscape, start_pos=(1, 1), end_pos=(1, 1))

# start algorithm and show results
g.a_start_algorithm()
g.show_best_path_solution_of_a_star()

# wrong case

Path Found with total cost of 0!
[(1, 1)]

### Test result 3
The result of the test with start_pos = (1, 1) and end_pos=(1, 6) looks very plausible. The algorithm doesn't take the "5" coded path since the cost of a cell coded with 5 is 20. It finds a path with a lower value of cost.

In [7]:
import graph
import grid

# create grid and graph                                                                                                                
landscape = grid.Grid(csv_filename="S_001_Daten.csv")
g = graph.Graph(grid=landscape, start_pos=(1, 1), end_pos=(1, 6))

# start algorithm and show results
g.a_start_algorithm()
g.show_best_path_solution_of_a_star()

# wrong case

Path Found with total cost of 38.0!
[(1, 1), (2, 1), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (2, 6), (1, 6)]

### Test result 4
The result of the test with start_pos = (1, 1) and end_pos=(15, 15) looks very plausible. The algorithm doesn't move along any "5" coded cells since the cost of a cell coded with 5 is 20. It prefers moving along cells with lower costs. For example the path from (7, 10) to (14, 10) contains a lot of "2" coded cells since the cost of tese cells is only 1.

In [10]:
import graph
import grid

# create grid and graph                                                                                                                
landscape = grid.Grid(csv_filename="S_001_Daten.csv")
g = graph.Graph(grid=landscape, start_pos=(1, 1), end_pos=(15, 15))

# start algorithm and show results
g.a_start_algorithm()
g.show_best_path_solution_of_a_star()

# wrong case

Path Found with total cost of 82.0!
[(1, 1), (2, 1), (3, 1), (3, 2), (4, 2), (4, 3), (4, 4), (4, 5), (5, 5), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (6, 10), (7, 10), (8, 10), (9, 10), (10, 10), (11, 10), (12, 10), (13, 10), (14, 10), (14, 11), (14, 12), (14, 13), (15, 13), (15, 14), (15, 15)]